body {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
    display: block;
    unicode-bidi: isolate;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
}

.category-dropdown, .search-input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-input {
    width: 300px;
}

.recipe-button, .add-recipe-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.recipe-button:hover, .add-recipe-button:hover {
    background-color: #e68900;
}

.content {
    padding: 20px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-item {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33% - 20px);
}

.recipe-item h3 {
    margin-top: 0;
}

.recipe-item p {
    margin: 10px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid-item{
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.grid-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}