body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#recipe-form {
    width: 470px;
    margin: 0 auto;
}

h2, h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

#ingredients-container {
    margin-bottom: 10px;
}

.ingredient {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.ingredient-input {
    flex: 1;
    margin-right: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#add-ingredient {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-bottom: 10px;
}

#add-ingredient:hover {
    background-color: #45a049;
}

button[type="submit"] {
    background-color: #45a049;
    color: white;
    border: none;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.upload-container{
    display: flex;
}