body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.recipe-card {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.recipe-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-card h2 {
    font-size: 1.5em;
    margin: 0;
    color: #030101;

}

.recipe-card p {
    color: #000000;
    margin: 10px 0;
}
